.table {
    table-layout: fixed; 
    margin-bottom: 80px;

    td {
        border-bottom: 1px solid $border-color; 
        border-top: 1px solid $border-color; 
        vertical-align: middle;
        white-space: nowrap;

        width: 40px;
        text-align: center;

        &.name-column {
            width: 80%;
            text-align: left;
        }

        &.count-column {
            width: 40px;
          
            h3 {
                font-size: 16px;
            }
        }
    }
}

.song-title {
    color: $dark-grey;
    font-size: 16px;
    font-weight: 300;
}

.artist-name {
    color: $grey;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}