// Colors
$primary: black;
$primaryHover: #151515;
$dark-grey: #eee;
$grey: #666;
$light-grey: #F2F2F2;
$blue: #1EA4E6;
$orange: #DD7A2E;
$dark-blue: #364051;
$off-white: #f7f7f7;
$black: #000;
$border-color: #252525;
$focus-color: #151515;
$input-field: rgba(255,255,255,.2);
$error-color: #f97703;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
